og base with logo

<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">

<style>

button {
  background-color: #1;
  color: black;
  padding: 17px;
  position: absolute;
  left: 700px;
  top: 500px;
  border: none;
  cursor: pointer;
  width: 10%;
}
body{

  background: url('BGG5.png');

}

</style>
</head>
<form action="#" method="post">
{%csrf_token%}  

<button type="submit">LOGIN</button>
<a href ='{%url "home.html"%'

</form>
</body>
</html>