report card

<head>
  <title> Student Report Card </title>
  <h2> Student Report Card </h2>
</head>
<body>
  <center>
  <h1>term 1 marks</h1>
        <p>
            rollno : {{ term1_marks.rollno }}
            physics : {{ term1_marks.phy }}
            chemistry : {{ term1_marks.chem }}
            math : {{ term1_marks.math }}
            english : {{ term1_marks.eng }}
            computer : {{ term1_marks.comp }}
        </p>
  <h1>term 2 marks</h1>
        <p>
            rollno : {{ term2_marks.rollno }}
            physics : {{ term2_marks.phy }}
            chemistry : {{ term2_marks.chem }}
            math : {{ term2_marks.math }}
            english : {{ term2_marks.eng }}
            computer : {{ term_marks.comp }}
        </p>
  <h1>final marks</h1>
        <p>
            rollno : {{ finals_marks.rollno }}
            physics : {{ finals_marks.phy }}
            chemistry : {{ finals_marks.chem }}
            math : {{ finals_marks.math }}
            english : {{ finals_marks.eng }}
            computer : {{ finals_marks.comp }}
        </p>
  
  <!--<button onclick="goBack()">Go Back</button>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
  </center>-->
</body>